body{
    font-family: 'Chivo Mono', sans-serif;                                          
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
 .brand-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
 }
 .brand-text {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
 }
body{
    background-image: url("Pictures/78EEA910-EAF1-4286-BA3D-5ADE2273ECCF.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        }
.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
     opacity: 1;
    transition: opacity 0.3s ease;
        }
.header a:hover {
    opacity: 0.5;
        }
.footer {
    position: relative;
    padding: 10px;
    margin-bottom: 60px;
        }
.footer-text {
    font-family: 'Kollektif', sans-serif;
    color: white;
    font-size: 3em;
        }
